.button {
	color: #fff;
	text-align: right;
	&.twitter {
		position: relative;
		padding-left: 50px;
		line-height: 15px;
		span {
			position: absolute;
			left: 20px;
		}
	}
}

.bottom {
	position: absolute;
	bottom: 0;
}