@font-face {
	font-family: 'rimshot';
	src:url('../fonts/rimshot.eot');
	src:url('../fonts/rimshot.eot?#iefix') format('embedded-opentype'),
		url('../fonts/rimshot.woff') format('woff'),
		url('../fonts/rimshot.ttf') format('truetype'),
		url('../fonts/rimshot.svg#rimshot') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'social';
	src:url('../fonts/social.eot?87k56q');
	src:url('../fonts/social.eot?#iefix87k56q') format('embedded-opentype'),
		url('../fonts/social.woff?87k56q') format('woff'),
		url('../fonts/social.ttf?87k56q') format('truetype'),
		url('../fonts/social.svg?87k56q#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'rimshot';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
	content: "\e600";
}

.icon-twitter:before {
	font-family: social;
	content: "\e601";
}
